In [4]:
x=int(input("Entrer un nombre "))
mul=1
add=0
for i in range(1,x+1):
    ap=0
    for j in range(1,i+1):
        if i%j==0:
            ap=ap+ 1
    if ap==2:
        add=add+ i
    if i%2==0:
        mul=mul* i
print("L'addision des nombres premier est agale a ",add)
print("La multiplication des nombres paire est agale a ",mul)

Entrer un nombre 6
L'addision des nombres premier est agale a  10
La multiplication des nombres paire est agale a  48

In [17]:
c="Today is a English class"
c.lower()#permet de transformer toute la phrase en minuscule
c.upper()#permet de transformer toute la phrase en majuscule
up=0
low=0
esp=0
for i in c:
    if i==c.upper():
        up=up+ 1
    elif i==' ':
        esp=esp+ 1
    else:
        low=low+ 1      
print(up)
print(low)
print(esp)

0
20
4

In [18]:
x=("Isep","APD")
type(x)

tuple

In [20]:
apprenant=('Mr Niang','Mr Gueye','Mr Ndiaye','Mr Mbaye','Mr mbaye','Mr Faye','Mr sow')
type(apprenant)

tuple

In [22]:
apprenant[0]

'Mr Niang'

In [23]:
apprenant[-1]

'Mr sow'

In [26]:
note=13,20,16,18,20
som=0
for i in note:
    som=som+ i
print(som)

87

In [27]:
sum(note)

87

In [32]:
note=15,12,13,14,18
som=0
s=0
n=0
for i in note:
    som=som+ i
    print(som)
    f=som/i
print(f)
if i>=14:
    n=n+ 1
    print(n)
for i in n:
    s=s+ j
    print(s)

15
27
40
54
72
4.0
1

TypeError: 'int' object is not iterable

In [28]:
note=2,2

2.0

In [ ]:
x=tuple

In [45]:
#Ecrire un fonction qui prend en entrer un tuple d'entier et renvoie le plus grand entier
def tup(x):
    return max(x)
x=1,25,37,94,0,2,42
tup(x)

94

In [56]:
#Ecrire une fonction qui renvoie le nombre d'elements d'un tuple passer en parametre
def nbr(x):
    som=0
    for i in (x):
        som=som +1
    return som
v=1,25,37,94,0,2,42,34
nbr(v)

8

In [62]:
#Soit a=(15,18,'bien',13) -Afficher 'B' Afficher 'ie'
a=(15,18,'bien',13)
a[2][0]
a[2][1:3]

'ie'

In [ ]:
#Les listes sont muable

In [92]:
L=[]
l=[5,7,'Amadou',[4,'Aba',8],3]
print(l[3][0:2])
print(l[3][-1])
print(l[2][3:])
print(l[1:3])
print(l[3:])
print(l[-1])
L.append(6)
L.append(12)
print(L)

[4, 'Aba']
8
dou
[7, 'Amadou']
[[4, 'Aba', 8], 3]
3
[6, 12]

In [86]:
prof=['Ndiaye','Faye','Sylla','gueye']
prof[0]='Niang'
prof[2]='Mbaye'
prof1=prof
prof1[-1]='Mbaye'
prof1

['Niang', 'Faye', 'Mbaye', 'Mbaye']

['Niang', 'Faye', 'Mbaye', 'Mbaye']

In [129]:
metier=[]
metier.append('APD')
metier.append('DBE')
metier.append('DFE')#Permet d'ajouter un element a la fin de la liste
metier.append('SSC')
metier.append('RSIOT')
print(metier)
metier.extend(['MA','EEA','FC','CP'])#Permet d'ajouter plusieur element a la fin de la liste
print(metier)
metier.append(['MA','EEA','FC','CP'])#est different de extend
print(metier)
metier.insert(3,"MA")#Permet d'inserer des element a la position indiqué
metier
metier.remove("MA")#Permet de supprimer des element
print(metier)
metier.count("ap")#Permet de compter le nombre de caractere 
print(metier)

['APD', 'DBE', 'DFE', 'SSC', 'RSIOT']
['APD', 'DBE', 'DFE', 'SSC', 'RSIOT', 'MA', 'EEA', 'FC', 'CP']
['APD', 'DBE', 'DFE', 'SSC', 'RSIOT', 'MA', 'EEA', 'FC', 'CP', ['MA', 'EEA', 'FC', 'CP']]
['APD', 'DBE', 'DFE', 'SSC', 'RSIOT', 'MA', 'EEA', 'FC', 'CP', ['MA', 'EEA', 'FC', 'CP']]
['APD', 'DBE', 'DFE', 'SSC', 'RSIOT', 'MA', 'EEA', 'FC', 'CP', ['MA', 'EEA', 'FC', 'CP']]

In [ ]:
#Soit une liste vide Metiers:
    #Ajouter en utilisant append() les matiere suivants:'Python','Sql','JS',ALGO
    #aljouter les matiers: 'JS',Python','Mathfine','Anglais'en utilisant extend()
    #Insert 'Langage C' aprés juste 'Algo'
    #

In [110]:
Matiers=[]
Matiers.append('Python')
Matiers.append('Sql')
Matiers.append('JS')
Matiers.append('ALGO')
Matiers

['Python', 'Sql', 'JS', 'ALGO']

In [111]:
Matiers=[]
Matiers.append('Python')
Matiers.append('Sql')
Matiers.append('JS')
Matiers.append('ALGO')
Matiers.extend(['JS','Python','Mathfine','Anglais'])
Matiers

['Python', 'Sql', 'JS', 'ALGO', 'JS', 'Python', 'Mathfine', 'Anglais']

In [130]:
Matiers=[]
Matiers.append('Python')
Matiers.append('Sql')
Matiers.append('JS')
Matiers.append('ALGO')
Matiers.extend(['JS','Python','Mathfine','Anglais'])
Matiers.insert(4,'langage C')
print(Matiers)
Matiers.count('Python')
Matiers[1]='Django'
print(Matiers)
Matiers[3]='Angular'
print(Matiers)
Matiers.remove('ALGO')
print(Matiers)

['Python', 'Sql', 'JS', 'ALGO', 'langage C', 'JS', 'Python', 'Mathfine', 'Anglais']
['Python', 'Django', 'JS', 'ALGO', 'langage C', 'JS', 'Python', 'Mathfine', 'Anglais']
['Python', 'Django', 'JS', 'Angular', 'langage C', 'JS', 'Python', 'Mathfine', 'Anglais']

ValueError: list.remove(x): x not in list

Matiers=[]
Matiers.append('Python')
Matiers.append('Sql')
Matiers.append('JS')
Matiers.append('ALGO')
Matiers.extend(['JS','Python','Mathfine','Anglais'])
Matiers.insert(4,'langage C')
Matiers.count('Python')

In [ ]:
#les etudiant d'APD covertier les variable en liste 2)afficher les 7permier caractére 3)afficher les caractere en commencant a la possition 2 en faisant des pas de 4 
~#Supprimer les espace et remplacer les A par O

In [131]:
#pour ecrire un dictinnaire on utilise des accolades
#le dictionnaire est un ensemble clé valeur les clé sont muable les valeur peuvent prendre n'import quel type
d={}
type(d)

dict

In [134]:
note={'Python': 14,'Langage C':16,'HTML':8}
note['Python']

14

In [4]:
l='les etudiant de APD'
v=list(l)
print(v)
print(v[0:8])
print(v[2::4])
for i in v:
    if i==' ':
        v.remove(' ')
print(v)
l = l.replace('a','o')
l

['l', 'e', 's', ' ', 'e', 't', 'u', 'd', 'i', 'a', 'n', 't', ' ', 'd', 'e', ' ', 'A', 'P', 'D']
['l', 'e', 's', ' ', 'e', 't', 'u', 'd']
['s', 'u', 'n', 'e', 'D']
['l', 'e', 's', 'e', 't', 'u', 'd', 'i', 'a', 'n', 't', 'd', 'e', 'A', 'P', 'D']

'les etudiont de APD'

In [1]:
l

NameError: name 'l' is not defined

In [29]:
n=int(input("Entrer le nombre d'etudiant "))
for i in range(1,n+1):
    x=list(input("Saisisez les notes "))
v=[x]

Entrer le nombre d'etudiant2
Saisisez les notes3
Saisisez les notes4

#####