Exercice 1:

In [1]:
A=int(input("Saisiez un nombre"))
B=int(input("Saisiez un autre nombre"))
print("les valeur saisie sont: " ,A, "et" ,B)
C=A
A=B
B=C
print("l'inversion des valeur saisie donne: " ,A, "et" ,B)

Saisiez un nombre3
Saisiez un autre nombre4
les valeur saisie sont:  3 et 4
l'inversion des valeur saisie donne:  4 et 3

Exercice 2:

In [3]:
x=int(input("Donner un nombre"))
print("la valeur absolu de" ,x, "est egale à" ,abs(x))

Donner un nombre-5
la valeur absolu de -5 est egale à 5

Exercice 3:

In [ ]:
a=int(input("Saisiez un nombre "))
b=int(input("Saisiez un deusieme nombre "))
c=int(input("Saisiez un troisieme nombre "))
print("La moyenne des nombres saisie est:",(a+b+c)//3)

Exercice 4 :

In [12]:
tva=0.18
x=(input("Donner le Nom du produit "))
b=int(input("Donne le prix du produit "))
print("Le prix hors taxe est :" ,b)
print("Le prix tout taxe compris est :" ,b+(b*tva))

Donner le Nom du produit POMMMR
Donne le prix du produit 1299
Le prix hors taxe est : 1299
Le prix tout taxe compris est : 1532.82

Exercice 5:

In [ ]:
x=int(input("Entrer un nombre"))
if x%2==0:{
    print(x, "est un nombre paire")
}
else:
    print(x, "est un noùbre impaire")

Exercice 6:

In [21]:
c=int(input("Entre un nombre"))
v=int(input("Entre un autre nombre"))
r=int(input("Entre un troisieme nombre"))
max=(c,v,r)
print(max)

Entre un nombre4
Entre un autre nombre5
Entre un troisieme nombre3
(4, 5, 3)

Exercice 7:

In [23]:
x=int(input("Donner un nombre"))
if x<14:{
    print("Non Acquise")
}
else:{
    print("Aquise")
}

Donner un nombre16
Aquise

Exercyce 8:

In [27]:
x=int(input("Donner une valeur"))
y=int(input("Donner une autre valeur"))
z=x+y
if z==0:{
    print("la somme des deux valeur saisie est nul :" ,x, "+",y, "=", z)
}
elif z<0:{
    print("la somme des deux valeur saisie est Negatif :" ,x, "+",y, "=", z)
}
else:{
    print("la somme des deux valeur saisie est positif:",x, "+",y, "=", z)
}

Donner une valeur-7
Donner une autre valeur2
la somme des deux valeur saisie est Negatif : -7 + 2 = -5

Exercice 9:

In [28]:
x=int(input("Donner une valeur"))
y=int(input("Donner une autre valeur"))
z=x*y
if z==0:{
    print("le produit des deux valeur saisie est nul :" ,x, "*",y, "=", z)
}
elif z<0:{
    print("le produit des deux valeur saisie est Negatif :" ,x, "*",y, "=", z)
}
else:{
    print("le produit des deux valeur saisie est positif:",x, "*",y, "=", z)
}

Donner une valeur3
Donner une autre valeur4
le produit des deux valeur saisie est positif: 3 * 4 = 12

In [29]:
Math.ceil(Math.random()*20)

NameError: name 'Math' is not defined